.form__input-group {
	margin-bottom: var(--spacing-md);
	display: grid;
}

.form__label {
	color: var(--anime-button);
	margin: var(--spacing-xs);
}

.form__option {
	display: flex;
	justify-content: space-between;
}

.form__forgot-password {
	display: block;
	text-align: right;
	margin-bottom: var(--spacing-md);
	font-size: var(--font-size-md);
	color: var(--anime-button);
	text-decoration: none;
}

.form__remember-me {
	display: flex;
	align-items: center;
	margin-bottom: var(--spacing-md);
}

.remember-me input {
	margin-right: var(--spacing-sm);
}

.form__btn-signin,
.form__btn-google {
	width: 100%;
	padding: var(--spacing-md);
	border: none;
	border-radius: var(--border-radius-xs);
	cursor: pointer;
	margin-bottom: var(--spacing-md);
	background-color: var(--anime-button);
	color: var(--surface-color);
}

.form__signup-link {
	text-align: center;
}

.form__signup-link span {
	margin-right: var(--spacing-sm);
}

.mat-icon-button {
	border-color: var(--error-color);
}

.icon-hide {
	padding-right: var(--spacing-md);
}
