<!-- <mat-form-field appearance="outline" class="full-width">
	<mat-label>{{ label }}</mat-label>
	<input matInput [type]="type" [formControl]="formControl" />
	<mat-error *ngIf="formControl.touched">
		{{ getErrorMessage() }}
	</mat-error>
</mat-form-field> -->

<mat-form-field appearance="outline" class="full-width">
	<mat-label class="label" (for)="(label)">{{ label }}</mat-label>
	<input
		matInput
		[type]="hide() ? 'password' : 'text'"
		[type]="type"
		[value]="_value"
		(input)="onInput($event)"
		[formControl]="formControl"
	/>
	<span
		class="icon-hide"
		mat-icon-button
		matSuffix
		(click)="clickEvent($event)"
		[attr.aria-label]="'Hide password'"
		[attr.aria-pressed]="hide()"
		type="submit"
	>
		<mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
	</span>
	<mat-error *ngIf="shouldShowError()">
		{{ getErrorMessage() }}
	</mat-error>
</mat-form-field>
