/* TODO (Dat ngo): We should use BEM approach here. */
.full-width {
	width: 100%;
}

.label {
	/* TODO (Dat ngo): We should use variable here. */
	color: #007bff;
	margin: 5px;
}

.icon-hide {
	/* TODO (Dat ngo): We should use variable here. */
	padding-right: 16px;
}
