<mat-form-field appearance="outline" class="password-field">
	<mat-label class="password-field__label" (for)="(label)">{{ label }}</mat-label>
	<input
		matInput
		[type]="hide() ? 'password' : 'text'"
		[type]="type"
		[value]="value"
		(input)="onInput($event)"
		[formControl]="formControl"
	/>

	<button
		class="password-field__icon-hide"
		mat-icon-button
		matSuffix
		(click)="clickEvent($event)"
		[attr.aria-label]="'Hide password'"
		[attr.aria-pressed]="hide()"
		type="button"
	>
		<mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
	</button>
	<mat-error *ngIf="shouldShowError()">
		{{ getErrorMessage() }}
	</mat-error>
</mat-form-field>
