.password-field {
	width: 100%;
}

.password-field__label {
	color: var(--anime-dodger-blue);
	margin: var(--spacing-sm);
}

.password-field__icon-hide {
	background-color: var(--surface-color);
	border: none;
	border-color: var(--error-color);
	margin: var(--spacing-sm);
}
