.password-form {
	width: 100%;
}

.password-form__label {
	color: var(--anime-japan-title-row-color);
	margin: var(--spacing-sm);
}

.password-form__icon-hide {
	background-color: white;
	border: none;
	margin: var(--spacing-sm);
}
