<section class="anime-detail-wrapper">
	<mat-card class="anime-detail mat-elevation-z10">
		<ng-container *ngIf="animeDetail$ | async as animeDetail; else loadingOrNotFound">
			<section class="anime-detail__summary">
				<section class="anime-detail__image-wrapper">
					<img mat-card-image class="anime-detail__anime-image" [src]="animeDetail.coverImageUrl" />
				</section>
				<section class="anime-detail__anime-content">
					<mat-card-header>
						<section class="anime-detail__header">
							<mat-card-title class="anime-detail__title">
								<h1>{{ animeDetail.japaneseTitle }}</h1>
							</mat-card-title>
							<mat-card-subtitle class="anime-detail__subtitle">{{
								animeDetail.englishTitle | empty
							}}</mat-card-subtitle>
						</section>
					</mat-card-header>
					<ng-container *ngIf="animeDetail.synopsis">
						<mat-card-content>
							<p class="anime-detail__synopsis">
								{{ animeDetail.synopsis }}
							</p>
						</mat-card-content>
					</ng-container>
				</section>
			</section>
			<section class="anime-detail__informations">
				<mat-tab-group animationDuration="500ms">
					<mat-tab label="Detail">
						<camp-anime-detail-information [animeDetail]="animeDetail" />
					</mat-tab>
					@if(animeDetail.trailerYoutubeId.length > 0){
					<mat-tab label="Trailer" class="tab__content-video-wrapper">
							<iframe
								title="trailer"
								[src]="getAnimeTrailerUrl(animeDetail.trailerYoutubeId)"
								allowfullscreen
								class="anime-details__trailer"
							>
							</iframe>
					</mat-tab>
					}
				</mat-tab-group>
			</section>
		</ng-container>

		<ng-template #loadingOrNotFound>
			<ng-container *ngIf="isLoading$ | async; else notFound">
				<section class="anime-detail__summary">
					<section class="anime-detail__image-wrapper">
						<camp-skeleton-cell [isLoading]="true" class="skeleton__image-cell" />
					</section>
					<section class="anime-detail__anime-content">
						<mat-card-header>
							<section class="anime-detail__header">
								<mat-card-title class="anime-detail__title">
									<camp-skeleton-cell [isLoading]="true" class="skeleton__title-cell" />
								</mat-card-title>
								<camp-skeleton-cell [isLoading]="true" class="skeleton__title-cell" />
							</section>
						</mat-card-header>
						<mat-card-content>
							<p class="anime-detail__synopsis">
								<camp-skeleton-cell [isLoading]="true"></camp-skeleton-cell>
							</p>
						</mat-card-content>
					</section>
				</section>
				<section class="anime-detail__informations">
					<mat-tab-group animationDuration="500ms">
						<mat-tab label="Detail" disabled="true">
							<ng-container *ngFor="let _ of skeletonDetailsArray">
								<camp-skeleton-cell [isLoading]="true" class="skeleton__title-cell" />
							</ng-container>
						</mat-tab>
						<mat-tab label="Trailer" disabled="true"></mat-tab>
					</mat-tab-group>
				</section>
			</ng-container>
			<ng-template #notFound>
				<camp-movie-not-found />
			</ng-template>
		</ng-template>
	</mat-card>
</section>
