<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Image">
    <th mat-header-cell *matHeaderCellDef> Image </th>
    <td mat-cell *matCellDef="let element"> <img src="{{element.coverImage}}" alt=""> </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="English Title">
    <th mat-header-cell *matHeaderCellDef> English Title </th>
    <td mat-cell *matCellDef="let element"> {{element.titleEng}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Japanese Title">
    <th mat-header-cell *matHeaderCellDef> Japanese Title </th>
    <td mat-cell *matCellDef="let element"> {{element.titleJpn}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Broadcasted Date">
    <th mat-header-cell *matHeaderCellDef> Broadcasted Date </th>
    <td mat-cell *matCellDef="let element"> {{element.broadcasted.startDate}} </td>
  </ng-container>

	 <!-- Symbol Column -->
	 <ng-container matColumnDef="Type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.animeType}} </td>
  </ng-container>

	 <!-- Symbol Column -->
	 <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.animeStatus}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
