:host {
	display: flex;
	justify-content: flex-end;
	gap: var(--spacing-xxl);
}

.main__search {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: var(--spacing-md) 0;
}

.main__search-button {
	padding: var(--spacing-sm) var(--spacing-md);
	font-size: var(--spacing-md);
	border: none;
	border-radius: var(--border-radius-xs);
}
