.form__input-group {
	margin-bottom: var(--spacing-md);
	display: grid;
}

.form__label {
	color: var(--anime-button);
	margin: var(--spacing-xs);
}

.form__remember-me {
	display: flex;
	align-items: center;
	margin-bottom: var(--spacing-md);
}

.form__remember-me input {
	margin-right: var(--spacing-sm);
}

.form__btn-signup {
	width: 100%;
	padding: var(--spacing-md);
	border: none;
	border-radius: var(--border-radius-xs);
	cursor: pointer;
	margin-bottom: var(--spacing-md);
	background-color: var(--anime-button);
	color: var(--surface-color);
}

.form__signup-link {
	text-align: center;
}

.form__signup-link span {
	margin-right: var(--spacing-sm);
}
