<section class="main">
	<section class="main__auth-container mat-elevation-z20">
		<section class="main__background-image">
			<img src="/assets/background.jpg" alt="Background Image" class="background-img" />
		</section>
		<section class="main__auth">
			<section class="main__auth-wrapper">
				<div class="main__logo">
					<img src="/assets/logo.png" alt="Logo" />
				</div>
				<router-outlet></router-outlet>
			</section>
			<section class="main__copyright">© Saritasa 2024</section>
		</section>
	</section>
</section>
