.main {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;

	/* TODO (Dat ngo): We should use variable here. */
	background-color: white;
}

.main__login-container {
	max-width: 1440px;
	max-height: 900px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
}

.main__background-image {
	flex: 1;
	background: url("../../assets/bg-1.jpg") no-repeat center center;
	background-size: cover;
	max-height: 900px;
	border: none;
}

.main__login {
	flex: 2;
	max-width: 540px;
	height: 100%;

	/* TODO (Dat ngo): We should use variable here. */
	background-color: white;
	border: none;
	padding: 40px;

	/* TODO (Dat ngo): We should use variable here. */
	box-shadow: 0 4px 8px rgba(0 0 0 10%);
	display: grid;
}

.main__logo img {
	display: block;
	margin: 0 auto 1rem;
	width: 120px;
}

.main__copyright {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

	/* TODO (Dat ngo): We should use variable here. */
	color: #666;
}
