.main {
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: var(--surface-color);
}

.main__not-found-gif {
	height: 150px;
}

.main__not-found-text {
	text-align: center;
	font-size: large;
	font-weight: bold;
	color: var(--error-color);
}
