@import url("../global/index.css");

header {
  color: var(--on-surface);
  height: 64px;
  border-bottom: 1px var(--border) solid;
  display: flex;
  align-items: center;
}

/*
.sticky {
  position:fixed;
  width: 100%;
} */


.bookCard {
  width: 180px;
}

.bookCard-cover {
  aspect-ratio: 2/3;
  border-radius: 24px;
  overflow: hidden;
  border: var(--border) 1px solid;
}

.filters input[type="text"] {
  width: 100%;
  height: 48px;
  border: 1px solid var(--border);
  border-radius: 16px;
}
.filters select {
  width: 100%;
  height: 48px;
  border: 1px solid var(--border);
  border-radius: 16px;
}

.bookCard-cover img {
  width: 100%;
  height: 100%;
}

footer {
  height: 128px;
  display: flex;
  justify-content: space-between;
}
