.anime__table-container {
	height: 100%;
	overflow-y: auto;
	border-radius: var(--border-radius);
}

.anime__header-row {
	background-color: rgb(232 244 255);
	color: rgb(2 30 74);
}

.anime__header {
	text-align: center;
}

.anime__column {
	display: block;
	word-wrap: break-word;
	white-space: unset;
	overflow-wrap: break-word;
}

.anime__image-container {
	height: 150px;
	margin-block: 4px;
}

.anime__cover {
	height: 100%;
	aspect-ratio: 1;
	object-fit: contain;
}

.anime__japan-title {
	color: rgb(53 141 235);
	font-weight: var(--font-weight-medium);
}

.anime__image {
	width: 20%;
}

.anime__title {
	width: 22%;
}

.anime__started-date {
	width: 15%;
}

.anime__status {
	width: 10%;
}

.anime__type {
	width: 11%;
}

.anime__TV {
	padding: 4px 6px;
	border: none;
	border-radius: 4px;
	background-color: rgb(232 244 255);
	color: rgb(53 141 235);
}

.anime__OVA {
	padding: 4px 6px;
	border: none;
	border-radius: 4px;
	background-color: rgb(255 248 222);
	color: rgb(179 145 41);
}

.anime__Movie {
	padding: 4px 6px;
	border: none;
	border-radius: 4px;
	background-color: rgb(255 240 237);
	color: rgb(208 86 86);
}

.anime__Special {
	padding: 4px 6px;
	border: none;
	border-radius: 4px;
	background-color: rgb(227 255 252);
	color: rgb(51 153 153);
}

.anime__ONA {
	padding: 4px 6px;
	border: none;
	border-radius: 4px;
	background-color: rgb(242 232 255);
	color: rgb(156 108 235);
}

.anime__Music {
	padding: 4px 6px;
	border: none;
	border-radius: 4px;
	background-color: rgb(255 247 242);
	color: rgb(201 117 80);
}

.anime__Promotional {
	padding: 4px 6px;
	border: none;
	border-radius: 4px;
	background-color: rgb(255 235 245);
	color: rgb(215 106 131);
}

.anime__Unknown {
	padding: 4px 6px;
	border: none;
	border-radius: 4px;
	background-color: rgb(176 176 176);
	color: rgb(51 51 51);
}

.anime__Currently {
	padding: 4px 6px;
	border: none;
	border-radius: 4px;
	background-color: rgb(255 243 224);
	color: rgb(255 152 0);
}

.anime__Finished {
	padding: 4px 6px;
	border: none;
	border-radius: 4px;
	background-color: rgb(232 245 233);
	color: rgb(76 175 80);
}

.anime__Not {
	padding: 4px 6px;
	border: none;
	border-radius: 4px;
	background-color: rgb(255 235 238);
	color: rgb(244 67 54);
}

.camp-skeleton {
	height: 100%;
	min-height: 16px;
	background-color: red;
}

.image-skeleton {
	--height: 150px;

	margin: 5px;
}
