.anime__table-container {
	height: 100%;
	overflow-y: auto;
	border-radius: var(--border-radius);
}

.anime__header,
.anime__cell {
	text-align: center;
}

.anime__column {
	word-wrap: break-word;
	white-space: unset;
	width: 20%;
	overflow-wrap: break-word;
}

.anime__image-container {
	height: 150px;
	margin-block: 4px;
}

.anime__image {
	height: 100%;
	aspect-ratio: 1;
	object-fit: contain;
}
