<section class="mat-elevation-z8 anime__table-container">
	<table
		mat-table
		[dataSource]="
			dataSource.data.length > 0 && !isLoading
				? dataSource.data
				: dataSource.data.length === 0 && !isLoading
				? []
				: templateArray
		"
		matSort
		(matSortChange)="onSortChange($event)"
		[matSortActive]="sortParams.active"
		[matSortDirection]="sortParams.direction"
		class="anime-table"
	>
		<!-- Cột hình ảnh -->
		<ng-container class="anime__column" matColumnDef="Image">
			<th class="anime__header" mat-header-cell *matHeaderCellDef>Image</th>
			<td mat-cell class="anime__cell anime__image" *matCellDef="let anime">
				<app-table-cell-content [isLoading]="isLoading" class="image-skeleton">
					<div class="anime__image-container">
						<img class="anime__cover" [src]="anime.coverImage" [alt]="isLoading ? null : anime.titleJpn" />
					</div>
				</app-table-cell-content>
			</td>
		</ng-container>

		<!-- Cột tiêu đề tiếng Anh -->
		<ng-container class="anime__column" matColumnDef="titleEng">
			<th class="anime__header" mat-header-cell *matHeaderCellDef mat-sort-header>English Title</th>
			<td mat-cell class="anime__cell anime__title" *matCellDef="let anime">
				<app-table-cell-content [isLoading]="isLoading">
					{{ anime.titleEng | empty }}
				</app-table-cell-content>
			</td>
		</ng-container>

		<!-- Cột tiêu đề tiếng Nhật -->
		<ng-container class="anime__column" matColumnDef="title_jpn">
			<th class="anime__header" mat-header-cell *matHeaderCellDef mat-sort-header>Japanese Title</th>
			<td mat-cell class="anime__cell anime__title" *matCellDef="let anime">
				<app-table-cell-content [isLoading]="isLoading">
					<span class="anime__japan-title">{{ anime.titleJpn | empty }}</span>
				</app-table-cell-content>
			</td>
		</ng-container>

		<!-- Cột ngày phát sóng -->
		<ng-container class="anime__column" matColumnDef="airedStartDate">
			<th class="anime__header" mat-header-cell *matHeaderCellDef mat-sort-header>Broadcasted Date</th>
			<td mat-cell class="anime__cell anime__started-date" *matCellDef="let anime">
				<app-table-cell-content [isLoading]="isLoading">
					{{ anime.broadcasted?.startDate | date | empty }}
				</app-table-cell-content>
			</td>
		</ng-container>

		<!-- Cột loại anime -->
		<ng-container class="anime__column" matColumnDef="Type">
			<th class="anime__header" mat-header-cell *matHeaderCellDef>Type</th>
			<td mat-cell class="anime__cell anime__type" *matCellDef="let anime">
				<app-table-cell-content [isLoading]="isLoading">
					<span class="anime__{{ anime.animeType | classify }}">{{ anime.animeType | empty }}</span>
				</app-table-cell-content>
			</td>
		</ng-container>

		<!-- Cột trạng thái -->
		<ng-container class="anime__column" matColumnDef="status">
			<th class="anime__header" mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
			<td mat-cell class="anime__cell anime__status" *matCellDef="let anime">
				<app-table-cell-content [isLoading]="isLoading">
					<span class="anime__{{ anime.animeStatus | classify }}">{{ anime.animeStatus | empty }}</span>
				</app-table-cell-content>
			</td>
		</ng-container>

		<!-- Hàng tiêu đề và hàng dữ liệu -->
		<tr mat-header-row class="anime__header-row" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</section>
