<section class="mat-elevation-z8 anime__table-container" *ngIf="sortParams !== null">
	<table
		mat-table
		[dataSource]="isLoading ? templateArray : dataSource"
		matSort
		(matSortChange)="onSortChange($event)"
		[matSortActive]="sortParams.active"
		[matSortDirection]="sortParams.direction"
		[trackBy]="trackById"
		class="anime-table"
	>
		<ng-container class="anime__column" matColumnDef="image">
			<th class="anime__header" mat-header-cell *matHeaderCellDef>Image</th>
			<td mat-cell class="anime__cell" *matCellDef="let anime">
				<app-table-cell-content [isLoading]="isLoading" class="anime__image-cell">
					<div class="anime__image-container">
						<img class="anime__image" [src]="anime.coverImage" [alt]="isLoading ? null : anime.titleJpn" />
					</div>
				</app-table-cell-content>
			</td>
		</ng-container>

		<ng-container class="anime__column" matColumnDef="title_eng">
			<th class="anime__header" mat-header-cell *matHeaderCellDef mat-sort-header>English Title</th>
			<td mat-cell class="anime__cell anime__title" *matCellDef="let anime">
				<app-table-cell-content [isLoading]="isLoading">
					{{ anime.titleEng | empty }}
				</app-table-cell-content>
			</td>
		</ng-container>

		<ng-container class="anime__column" matColumnDef="title_jpn">
			<th class="anime__header" mat-header-cell *matHeaderCellDef mat-sort-header>Japanese Title</th>
			<td mat-cell class="anime__cell anime__title" *matCellDef="let anime">
				<app-table-cell-content [isLoading]="isLoading">
					<span class="anime__japan-title">{{ anime.titleJpn | empty }}</span>
				</app-table-cell-content>
			</td>
		</ng-container>

		<ng-container class="anime__column" matColumnDef="aired_start_date">
			<th class="anime__header" mat-header-cell *matHeaderCellDef mat-sort-header>Broadcasted Date</th>
			<td mat-cell class="anime__cell anime__started-date" *matCellDef="let anime">
				<app-table-cell-content [isLoading]="isLoading">
					{{ anime.broadcasted?.startDate | date | empty }}
				</app-table-cell-content>
			</td>
		</ng-container>

		<ng-container class="anime__column" matColumnDef="type">
			<th class="anime__header" mat-header-cell *matHeaderCellDef>Type</th>
			<td mat-cell class="anime__cell anime__type" *matCellDef="let anime">
				<app-table-cell-content [isLoading]="isLoading">
					<camp-movie-type [animeType]="anime.animeType"></camp-movie-type>
				</app-table-cell-content>
			</td>
		</ng-container>

		<ng-container class="anime__column" matColumnDef="status">
			<th class="anime__header" mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
			<td mat-cell class="anime__cell anime__status" *matCellDef="let anime">
				<app-table-cell-content [isLoading]="isLoading">
					<camp-movie-status [animeStatus]="anime.animeStatus"></camp-movie-status>
				</app-table-cell-content>
			</td>
		</ng-container>

		<tr mat-header-row class="anime__header-row" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" [attr.colspan]="displayedColumns.length">
				<div class="not-found-message">
					<camp-movie-not-found></camp-movie-not-found>
				</div>
			</td>
		</tr>
	</table>
</section>
