<section class="main">
	<section class="main__login-container">
		<section class="main__background-image">
			<!-- <img src="../../assets/bg-1.jpg" alt=""> -->
		</section>
		<section class="main__login">
			<section class="main__login-wrapper">
				<div class="main__logo">
					<img src="../../assets/icon.png" alt="Logo">
				</div>
				<form>
					<div class="input-group">
						<label for="username">Login</label>
						<input type="text" id="username" name="username" placeholder="Email or phone number" required />
					</div>
					<div class="input-group">
						<label for="password">Password</label>
						<input type="password" id="password" name="password" placeholder="Enter password" required />
						<a href="#" class="forgot-password">Forgot password?</a>
					</div>
					<div class="remember-me">
						<input type="checkbox" id="rememberMe" />
						<label for="rememberMe">Remember me</label>
					</div>
					<button type="submit" class="btn-signin">Sign in</button>
					<button class="btn-google">Or sign in with Google</button>
					<div class="signup-link">
						<span>Don't have an account?</span>
						<a href="#">Sign up now</a>
					</div>
				</form>
			</section>
			<section class="main__copyright">
				© Saritasa 2024
			</section>
		</section>
	</section>
</section>
