.anime-table .mat-mdc-header-cell,
.anime-table .mat-mdc-cell {
	border-bottom-color: #e9edf5;
	text-align: center;
}

.anime-table .mat-mdc-header-cell .mat-sort-header-container {
	justify-content: center;
}

.anime-table .mat-mdc-header-row {
	background-color: #f7f9fc;
	text-transform: uppercase;
	font-weight: var(--font-weight-semibold);
	color: #687182;
}
