.anime-status {
	padding: 4px 6px;
	border: none;
	border-radius: 4px;
}

.anime_currently-airing {
	background-color: var(--anime-currently-airing-bg);
	color: var(--anime-currently-airing-color);
}

.anime_finished-airing {
	background-color: var(--anime-finished-airing-bg);
	color: var(--anime-finished-airing-color);
}

.anime_not-yet-aired {
	background-color: var(--anime-not-yet-aired-bg);
	color: var(--anime-not-yet-aired-color);
}
