.main {
	display: grid;
	justify-content: center;
	align-items: center;
	/* TODO (Dat Ngo): We should use variables here. */
	background-color: white;
}

.main__not-found-gif {
	height: 150px;
}

.main__not-found-text {
	text-align: center;
	font-size: large;
	font-weight: bold;
	color: var(--error-color);
}
