/* a,
:link,
.link {
  --link-color: var(--primary-color);

  color: var(--link-color);
  text-decoration: none;
  border-bottom: 1px solid var(--link-color);
}

a:hover,
:link:hover,
.link:hover {
  --link-color: var(--primary-light-color);
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.default-layout {
  --default-layout-width: 600px;

  margin: 80px auto 0;
  max-width: var(--default-layout-width);
} */
.booksGroup {
  width: 900px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.filters {
  width: 320px;
  height: 248px;
  display: grid;
  padding: 8px 16px;
}

.main-section {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1244px;
  margin: 0 auto;
}

@media screen and (max-width: 1920px) {
  .container {
    width: 1244px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 786px) {
  .container {
    width: 738px;
  }
  .booksGroup {
    grid-template-columns: repeat(3, 1fr);
  }
  .main-section {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 360px) {
  .container {
    width: 312px;
  }
  .booksGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}
