/* a,
:link,
.link {
  --link-color: var(--primary-color);

  color: var(--link-color);
  text-decoration: none;
  border-bottom: 1px solid var(--link-color);
}

a:hover,
:link:hover,
.link:hover {
  --link-color: var(--primary-light-color);
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.default-layout {
  --default-layout-width: 600px;

  margin: 80px auto 0;
  max-width: var(--default-layout-width);
} */

.container {
  width: 1244px;
  margin: 0 auto;
}

.booksGroup {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.filter {
  width: 320px;
  height: 100px;
  background: red;
}

@media screen and (max-width: 1920px) {
  .container {
    width: 1244px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 786px) {
  .container {
    width: 738px;
  }
}

@media screen and (max-width: 360px) {
  .container {
    width: 312px;
  }
}
