:root {
  /* Colors */
  --surface-color: rgb(255 255 255 / 100%);
  --surface-overlay-color: rgb(0 0 0 / 5%);
  --on-surface-color: rgb(0 0 0 / 100%);
  --on-surface-dim-color: rgb(0 0 0 / 50%);
  --primary-color: rgb(241 89 36 / 100%);
  --on-primary-color: rgb(255 255 255);
  --border-color: rgb(0 0 0 / 15%);
  --focus-outline-color: #212121;

  /* Spacing */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-default: 20px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Font size */
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;

  /* Line height */
  --line-height-md: 1.5rem;
  --line-height-lg: 2rem;

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Sizes */
  --header-height: 64px;
  --footer-height: 128px;

  /* Border Radius */
  --border-radius-md: 16px;
  --border-radius-lg: 24px;

  /* Filter width */
  --filter-width-md: 276px;
  --filter-width-lg: 320px;
  --filter-width-xl: 360px;

  /* Form control height */
  --form-control-height: 48px;
}
