@import url("../../global/index.css");

body {
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
	margin: 0;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0 0 0/ 10%);
}

.content-wrapper {
	width: 500px;
	border: 1px solid #000;
	padding: 20px;
}

.win {
	background-color: #fdd;
}

.displayer {
	height: 100px;
}

.dice-results {
	white-space: nowrap;
	overflow: auto;
}
