@import url("../../global/index.css");

body {
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
	margin: 0;
	padding: var(--spacing-default);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	--container-box-shadow: 0 0 10px rgba(0 0 0/ 10%);

	background-color: white;
	padding: var(--spacing-default);
	box-shadow: var(--container-box-shadow);
}

.content-wrapper {
	max-width: 500px;
	width: 100%;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius-md);
	padding: var(--spacing-default);
}

.win {
	background-color: var(--primary-color);
}

.displayer {
	height: 100px;
}

.displayer__dice-results {
	white-space: nowrap;
	overflow: auto;
}
