<section class="main">
	<mat-form-field>
		<mat-label>Anime type</mat-label>
		<mat-select [(value)]="selectedType" (selectionChange)="onSelectionChange($event)">
			@for (option of selectTypes; track option) {
				<mat-option [value]="option">{{ option }}</mat-option>
			}
		</mat-select>
	</mat-form-field>
	<!-- TODO (Dat Ngo): Remove redundant classes. -->
	<div class="main__search-group">
		<mat-form-field appearance="fill">
			<mat-label>Search</mat-label>
			<!-- TODO (Dat Ngo): Add button. -->
			<input matInput [(ngModel)]="search" placeholder="Placeholder" (keydown)="onKeyDown($event)"/>
		</mat-form-field>
	</div>
</section>
