.main {
	display: flex;
	justify-content: flex-end;

	/* TODO (Dat Ngo): Use var. */
	gap: 40px;
}

.main__search {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 16px 0;
}

.main__search-button {
	padding: 8px 16px;
	font-size: 16px;
	border: none;
	border-radius: 4px;
}
