<ng-container
	*ngIf="{
		animePage: animePage$ | async,
		isLoading: isLoading$ | async,
		filterParams: filterParams$ | async,
		sortParams: sortParams$ | async,
		user: currentUser$ | async,
	} as data"
>
	@if(data.user){
	<div>
		{{ data.user.lastName }} {{ data.user.firstName }}
		<button mat-raised-button class="catalog-button" type="button" (click)="logOut()">Log Out</button>
	</div>
	}@else{
	<button mat-raised-button class="catalog-button" type="button" (click)="logIn()">Log In</button>
	}
	<camp-search-filter-form
		(typeChange)="onSelectionChange($event)"
		(searchChange)="onSearchChange($event)"
		[search]="data.filterParams?.search ?? ''"
		[selectedType]="data.filterParams?.type ?? null"
	/>
	<camp-anime-table
		[animeList]="data.animePage ? data.animePage.items : null"
		[isLoading]="data.isLoading"
		(sortChange)="onSortChange($event)"
		[sortParams]="data.sortParams"
	/>
	<camp-paginator
		[pageNumber]="data.filterParams?.pageNumber ?? 0"
		[pageSize]="data.filterParams?.pageSize ?? 10"
		[totalCount]="data.animePage ? data.animePage.totalCount : 0"
		(pageChange)="onPageChange($event)"
	/>
</ng-container>
