.main {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--surface-color);
}

.main__auth-container {
	max-width: 1440px;
	max-height: 900px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
}

.main__background-image {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 900px;
	border: none;
}

.background-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main__auth {
	flex: 2;
	max-width: 540px;
	height: 100%;
	background-color: var(--surface-color);
	border: none;
	padding: 40px;
	box-shadow: 0 var(--spacing-xs) var(--spacing-sm) var(--border-color);
	display: grid;
}

.main__logo img {
	display: block;
	margin: 0 auto 1rem;
	width: 120px;
}

.main__copyright {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	color: var(--anime-copy-right);
}
